<nav class="navbar navbar-expand-md navbar-custom sticky-top shadow-lg">
    <div class="container">
        <a class="navbar-brand fs-4 fw-bold" href="/">Power Clean <span class="highlight">Niederrhein</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="/#leistungen">Leistungen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#preise">Preise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#erfolge">Erfolge</a>
                </li>
                <li class="nav-item mt-2 mt-md-0 ms-md-2">
                    <a class="btn btn-contact-nav px-3 py-2" href="/#kontakt">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>